{ "players"   : [["good", "Kevin", "PathString"], ["breaker", "Marina", "Nothing"], ["infinite", "Bob", "LOL"],
  ["infinite", "Bob2", "/Users/KevinLiang/Desktop/CodingStuff/CS4500/Part2/maka-keli/Santorini/out/production/Santorini/StayAlivePlayer.class"]],

  "observers" : [["Observer1", "PathString2"], ["Observer2", "PathsString"]]}